---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout>
  <Container>
    <a href="/" class="text-sm">home</a>
    <ul class="list-none flex flex-col gap-1">
      {allPosts
        .sort((a, b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime())
        .map((post) => 
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        )
      }
    </ul>
  </Container>
</BaseLayout>