---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
		<a href="/projects/">projects</a>
		<a href="/blog/">blog</a>
		<a href ="mailto:nick@nkrkn.com">nick@nkrkn.com</a>
		<a href="https://github.com/nramkissoon">github/nramkissoon</a>
	</body>
</BaseLayout>
