---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicholas Ramkissoon</title>
	</head>
	<body class="font-sans bg-zinc-100">
		<a href="/projects/">projects</a>
		<a href="/blog/">blog</a>
		<a href ="mailto:nick@nkrkn.com">nick@nkrkn.com</a>
		<a href="https://github.com/nramkissoon">github/nramkissoon</a>
	</body>
</html>
