---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
const allProjects = await Astro.glob('../content/projects/*.md');
---

<BaseLayout>
  <Container>
  <a href="/" class="text-sm">home</a>
  <ul class="list-none flex flex-col gap-3 font-normal  ">
  {allProjects.map((project) => 
    <li>
      <a href={project.frontmatter.url}>{project.frontmatter.title}</a>
      <p class="font-normal text-xs">{project.frontmatter.description}</p>
      <ul class="list-none flex gap-2 font-normal text-xs">
      {project.frontmatter.skills.map((skill: string) => 
        <li>
          {skill}
        </li>
      )}
      </ul>
    </li>
  )}
  </ul>
  </Container>
</BaseLayout>