<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nicholas Ramkissoon</title>
	</head>
	<body class="font-sans bg-zinc-100">
    <slot />
	</body>
</html>
