---
const { frontmatter } = Astro.props;
import Container from "../components/Container.astro";
import BaseLayout from "./BaseLayout.astro";
import "./../styles/global.css"
---
<BaseLayout>
  <Container>
    <a href="/blog">blog</a>
    <h1>{frontmatter.title}</h1>
    <p class="font-normal">Published: {frontmatter.pubDate.toString().slice(0,10)}</p>
    <main class="font-normal prose">
      <slot />
    </main>
  </Container>
</BaseLayout>